# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Mi899.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Mi899\.idea\.idea.Mi899\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
